/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    /* ===== Colors ===== */
    --body-color: #F3F6F9;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --body-font-family:"Roboto",sans-serif;
    --body-font-weight:400;
    --body-font-size:0.825rem;
    --body-line-height:1.5;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 15px;
    background: var(--sidebar-color);
}
.left {
 display: flex;
 align-items: center;
}

.left #menu {
 padding: 0 7px;
 cursor: pointer;
}

.header .bx{
    font-size: 30px;
}

.bxs-user-circle{
    font-size: 32px;
}
.icons.right a{
    text-decoration: none;
    color: black;
}
/* ===== Sidebar ===== */
 .sidebar{
    top: 56px;
    left: 0;
    height: 100vh;
    width: 220px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100; 
    position: fixed; 
}
.sidebar.close{
    width: 72px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header
{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 40px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover,
.sidebar li.currentpage a{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li.currentpage a .icon,
.sidebar li.currentpage a .text{
    color: var(--sidebar-color);
}

.menu-links{
    padding-left: 0;
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.content{
    position: absolute;
    top: 0;
    top: 0;
    margin-top: 56px;
    padding-top: 10px;
    left: 220px;
    height: 100%;
    width: calc(100% - 220px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.content .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .content{
    left: 72px;
    height: 100vh;
    width: calc(100% - 72px);
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.keywordTags{
    height: 100vh;
    width: 60px;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: var(--sidebar-color);
    margin-top: -5px;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-evenly;
}
.keywordTags button{
    height: 42px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 12px 6px;
}
.keywordTags::-webkit-scrollbar{
    display: none;
}
/* .content p{
    white-space: nowrap; 
    font-size: 14.4px;
    width: 260px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.videos{
    padding: 10px;
}

.a-center{
    align-items: center;
}
.action{
    background-color: inherit;
    color: #F9F9F9;
    border:none;
    margin-left: 5px;
    margin-right: 5px;
    width: 85%;
}
.keyword, .action, .keywordForDefault{
    width: 85%;
    text-transform: capitalize;
}
.btn-close{
    background-color: #212529;
    color: #F9F9F9;
    border:none;
}

.btn-group{
    width: 85%;
}
.w-85{
    width: 85%;
}
.keyword{
    background-color: inherit;
    color: #F9F9F9;
    border:none;
    margin-left: 5px;
    margin-right: 5px;
}
.keywordForDefault{
    width: 100%;
    text-align: center;
    background-color: inherit;
    color: #F9F9F9;
    border:none;
    margin-left: 5px;
    margin-right: 5px;
}

.float-right{
    float: right;
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
